<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./app.webmanifest">
    <meta name="dicoding:email" content="esafaizalg25@gmail.com">
    <meta name="theme-color" content="#06D001"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <title>Meet the Team</title>
  </head>
  <body>
    <header>
      <h1>Meet Our Team</h1>
      <p>"These people work on making our product best"</p>
      <button class="back-button" onclick="history.back()">Back</button>
    </header>
    <main>
      <div class="team-member">
        <img src="sisi.jpg" alt="Photo of Team Member 1" />
        <h2>Sisi Auliani</h2>
        <p>Front-End Developer</p>
        <p>Universitas Muslim Indonesia</p>
        <div class="social-icons">
          <a href="www.linkedin.com/in/sisi-auliani"
          target="_blank" rel="noreferrer"><img src="linkedin.jpg" alt="LinkedIn"
          /></a>
          <a href="https://www.instagram.com/sisi.auliani/"
          target="_blank" rel="noreferrer"><img src="instagram.jpg" alt="Instagram"
          /></a>
        </div>
      </div>
      <div class="team-member">
        <img src="esa.jpg" alt="Photo of Team Member 2" />
        <h2>Esa Faizal Gibran</h2>
        <p>Full Stack Developer</p>
        <p>Universitas Teknologi Bandung</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/esa-faizal-gibran-07bbb5279/" target="_blank" rel="noreferrer"><img src="linkedin.jpg" alt="LinkedIn" /></a>
          <a href="https://www.instagram.com/esafaizal25/" target="_blank" rel="noreferrer"><img src="instagram.jpg" alt="Instagram" /></a>
        </div>
      </div>
      <div class="team-member">
        <img src="kiki.jpeg" alt="Photo of Team Member 3" />
        <h2>Kiki Lidya Koswara</h2>
        <p>Full Stack Developer</p>
        <p>Universitas Teknologi Bandung</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/kikilidyaaaa/" target="_blank" rel="noreferrer"><img src="linkedin.jpg" alt="LinkedIn" /></a>
          <a href="https://www.instagram.com/kikilidyaaaa/" target="_blank" rel="noreferrer"><img src="instagram.jpg" alt="Instagram" /></a>
        </div>
      </div>
    </main>
  </body>
</html>
