* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
  padding: 20px;
  background-color: #ff9800;
}

header.sticky {
  background: #fff;
  padding: 20px 10%;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* App-bar Start */

.app-bar-container {
  display: grid;
  grid-template-columns: auto 1fr auto; /* Logo - Menu - Icons */
  align-items: center;
  justify-content: center;
  width: 100%;
}

.app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar__menu button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 18px;
  padding: 12px;
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
}

.logo{
  margin-left: 20px;
}

.logo img {
  max-width: 140px;
  height: auto;
}

.navmenu {
  display: flex;
  justify-self: center; /* Center the menu horizontally */
}

.navmenu a {
  color: #2c2c2c;
  font-size: 16px;
  text-transform: capitalize;
  padding: 10px 20px;
  font-weight: 400;
  transition: all 0.42s ease;
}

.navmenu a:hover {
  color: #ee1c47;
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-self: end; /* Align icons to the end */
  margin-right: 20px; /* Adjust margin as needed */
}

.nav-icon i {
  font-size: 25px;
  padding: 10px;
  transition: all 0.42s ease;
  color: #2c2c2c;
}

.nav-icon i:hover {
  transform: scale(1.1);
  color: #ee1c47;
}

#menu-icon {
  font-size: 35px;
  color: #2c2c2c;
  z-index: 10001;
  cursor: pointer;
}

.cart-has-items::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

#cart-icon-container {
  position: relative;
}

#cart-item-count {
  position: absolute;
  top: -8px; /* Sesuaikan posisi vertikal */
  right: -8px; /* Sesuaikan posisi horizontal */
  background-color: red; /* Warna latar belakang */
  color: white; /* Warna teks */
  border-radius: 50%; /* Agar lingkaran */
  width: 20px; /* Ukuran */
  height: 20px; /* Ukuran */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; /* Ukuran font */
}

/* App-bar End */

/* Jumbotron Start */
.jumbotron {
  width: 100%;
  min-height: 500px;
  background-image: url(../public/banner.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.jumbotron-title {
  width: 371px;
  height: 72px;
  left: 156px;
  top: 125px;
  position: absolute;
}

.jumbotron-title h1 {
  font-size: 36px;
}

.jumbotron-title .word1 {
  color: white; /* Warna pertama */
}

.jumbotron-title .word2 {
  color: #2c7865; /* Warna kedua */
}

.jumbotron-title h1 {
  color: #000;
  font-size: 30px;
  line-height: 1.1;
  font-weight: 800;
  margin-top: 10px;
  margin-right: 50px;
}

.main-btn {
  color: white;
  background-color: #ff9800;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid;
  padding: 10px 15px;
  transition: all 0.42s ease;
  position: absolute;
  margin-top: 10px;
}

.main-btn:hover {
  background-color: #2c7865;
  color: #fff;
}

/* Jumbotron End */

/* Button Category Start */

.inline-button {
  display: flex;
  margin: 16px;
  gap: 30px; /* Jarak antara tombol */
}

.inline-button button {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.inline-button button i {
  margin-right: 10px; /* Jarak antara ikon dan teks */
}

/* Pengaturan hover */
.inline-button button:hover {
  background-color: darkgreen;
}



/* Button Category End */

/* Main Start */

.vegetable-list-title {
  margin: 16px 16px 8px;
  font-size: 24px;
  font-weight: bold;
  color: #2c2c2c;
  position: relative;
}

/* Garis pemisah di bawah judul */
.vegetable-list-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ff9800;
  margin-top: 4px;
}

.vegetable-list {
  display: flex;
  overflow-x: hidden;
  padding: 16px;
  white-space: nowrap; 
}


.vegetable-item {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 16px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.vegetable-item__content__store {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  padding: 8px;
  z-index: 1;
}

.vegetable-item__header {
  position: relative;
}

.vegetable-item__header__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.vegetable-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}

.vegetable-item__header__rating__score {
  margin-left: 10px;
}

.vegetable-item__content {
  display: flex; /* atau grid */
  flex-direction: column;
  padding: 16px;
}

.vegetable-item__content h3 {
  margin: 0 0 10px 0;
}

.vegetable-item__content h3 a {
  color: #db0000;
  text-decoration: none;
}

.vegetable-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.vegetable-item__content__description {
  height: 100px; /* Atur tinggi container sesuai kebutuhan */
  overflow: hidden; /* Sembunyikan teks yang keluar dari container */
  text-overflow: ellipsis; /* Tambahkan titik-titik untuk menandakan teks terpotong */
  white-space: normal; /* Izinkan teks untuk memenuhi lebih dari satu baris */
  text-align: justify;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #666;
}


.vegetable-item__content__quantity {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.vegetable-item__content__button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 20px;
}

.vegetable-item__content__button:hover {
  background-color: #2c7865;
}


.scroll-wrapper {
  display: flex;
  overflow-x: hidden; 
  margin-bottom: 16px;
  align-items: center;
}


.scroll-wrapper button {
  border: none;
  cursor: pointer;
  font-size: 24px;
}

#scroll-left,
#scroll-right {
  margin: 0 10px;
}

.section {
  margin-bottom: 100px; 
}

/* Main End */

/* Detail Start */
.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.product-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px; /* Added gap between flex items */
}

.farmer-info {
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 60%; /* Increased width for farmer-info */
  background-color: #ffffff;
  gap: 20px; /* Added gap between image and text */
}

.farmer-image-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centering the button horizontally */
  width: 250px;
}

.farmer-image {
  background-color: #e0e0e0;
  height: 200px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image within the container */
}

.product-details {
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.product-name {
  background-color: #fff;
  padding: 12px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: green;
  font-size: 1.2em;
}

.product-type {
  background-color: #fff;
  padding: 12px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: black;
}

.product-category {
  background-color: #fff;
  padding: 12px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: black;
  margin-top: 12px;
}

.product-desc{
  background-color: #fff;
  padding: 12px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.organic-level {
  margin-top: 20px;
  margin-bottom: 20px;
}

.organic-button {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.check-store-button {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  align-self: center;
  cursor: pointer; /* Menjadikan kursor berbentuk pointer saat di atas tombol */
  transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

.check-store-button:hover {
  background-color: #34495e; /* Warna latar belakang yang berubah saat tombol dihover */
}

.product-info {
  border: 1px solid #ccc; /* Added border for product-info */
  padding: 20px; /* Added padding inside the box */
  border-radius: 10px; /* Added rounded corners */
  background-color: #ffffff; /* Added background color */
  width: 35%; /* Decreased width for product-info */
}

.product-info h2 {
  margin: 0 0 10px 0;
}

.discount {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.discount-rate {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.original-price {
  text-decoration: line-through;
  color: grey;
}

.price {
  font-size: 24px;
  font-weight: bold;
  color: #e67e22;
  margin-bottom: 10px;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.star {
  color: gold;
  margin-right: 5px;
}

.buy-button {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer; /* Menjadikan kursor berbentuk pointer saat di atas tombol */
  transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

.buy-button:hover {
  background-color: #34495e; /* Warna latar belakang yang berubah saat tombol dihover */
}

.share-button {
  background-color: white;
  border: 1px solid #2c3e50;
  color: #2c3e50;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer; /* Menjadikan kursor berbentuk pointer saat di atas tombol */
  transition: background-color 0.3s ease; /* Efek transisi saat hover */
}

.share-button:hover {
  background-color: #f0f0f0; /* Warna latar belakang yang berubah saat tombol dihover */
}

.related-products {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

.related-products h3 {
  margin: 20px;
}

.related-product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjusted grid columns for responsiveness */
  gap: 50px; /* Added gap between grid items */
}

.related-product-item {
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}
/* Detail End */

/* Item List Start */
.content {
  margin: 16px;
  min-height: 100%;
}

.header {
  display: flex;
  align-items: center; /* Posisikan elemen secara vertikal di tengah */
  border-bottom: 1px solid #ccc; /* Border bawah */
  padding-bottom: 10px; /* Padding bawah untuk header */
  margin-bottom: 20px; /* Jarak antara header dengan konten di bawahnya */
}

.content__heading {
  font-weight: normal;
  text-align: center;
  font-weight: bold;
  flex-grow: 1; /* Biarkan judul konten memperluas sesuai kebutuhan */
}

.content__heading {
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

.vegetable-item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  margin-top: 32px;
}

.back-button {
  background-color: #007bff; /* Warna latar belakang */
  color: white; /* Warna teks */
  border: none; /* Hapus border */
  padding: 8px 16px; /* Padding di dalam tombol */
  font-size: 16px; /* Ukuran font teks */
  cursor: pointer; /* Pointer ketika dihover */
  margin-right: 10px; /* Margin kanan agar tidak terlalu dekat dengan judul */
  border-radius: 4px; /* Sudut bulat */
  transition: background-color 0.3s ease; /* Transisi warna latar belakang */
}

.back-button:hover {
  background-color: #0056b3; /* Warna latar belakang saat dihover */
}
/* Item List End */

/* Footer Start */
footer {
  background-color: #eef7ff;
  color: black;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-left .logo {
  width: 100%;
  margin-right: 10px;
}

.brand-name {
  font-size: 24px;
  font-weight: bold;
}

.footer-center nav {
  display: flex;
  align-items: center;
}

.footer-center nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.footer-center nav span {
  color: black;
}

.footer-right a {
  margin: 0 10px;
  font-size: 20px;
  transition: all 0.42s;
}

.footer-right i:hover {
  transform: scale(1.3);
}

.footer-right a img {
  width: 24px;
}

.footer-bottom {
  width: 100%;
  position: absolute;
  margin-top: 20px;
  font-size: 12px;
  background-color: #ff9800;
  padding: 15px;
}

.footer-bottom p {
  margin: 5px 0;
}

/* Footer End */

